# Python
venv
__pycache__
*.egg-info
build
dist
.ipynb_checkpoints

# Sphinx
docs/build
docs/pylintrc
docs/source/*.rst
!docs/source/index.rst
!docs/source/changelog.rst

# IDE
.idea

# Configuration files
*.conf

# Outputs
*.csv

# Test files
sms
!sample/sms

# Coverage
.coverage
htmlcov
