# Install
wheel

# Run
chromatictools
numpy
scipy
scikit-learn

# Test
cython
more-itertools

# Notebooks
jupyter
matplotlib
librosa
requests

# GUI
ttkthemes
Pillow
pygame

# Pylint
pylint

# Coverage
coverage

# Docs
sphinx
sphinx_rtd_theme
m2r2
recommonmark

# Packaging
twine
