# Install
wheel

# Run
chromatictools
numpy<1.24
paragraph
scikit-learn
scikit-optimize
scipy
tqdm

# Test
cython
more-itertools

# Notebooks
ipython
jupyter
matplotlib
librosa<0.10
requests

# GUI
ttkthemes
Pillow
pygame
throttle

## Scripts
# BeatsDROP
autorank
pandas
emd
spectrum

# Style
pylint
yapf

# Coverage
coverage

# Docs
sphinx
sphinx_rtd_theme
m2r2
recommonmark

# Packaging
twine
pyinstaller<5.1
